@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pontos Turísticos do Brasil</h1>
    <div id="Load">
        <p>
            Carregar pontos turísticos.
            <button class="btn btn-info" type="button" id="btnCarregar" onclick="ListPontosTurísticos()">Carregar</button>
        </p>
    </div>
    <div id="Pontos" style="display:none">
        <div class="form-group">
            <input id="txtFiltroPonto" type="text" class="form-control" name="txtFiltroPonto" placeholder="Pesquisar..." />
        </div>
        <div class="card card-nav-tabs">
            <div class="card-header card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs" id="Pages">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="tab-content text-center" id="PagesContent">

                </div>
            </div>
        </div>
        <div id="modalPontos">

        </div>
        <div>
        </div>
