@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pontos Turísticos do Brasil</h1>
    <div id="Load">
        <p>
            Carregar pontos turísticos.
            <button class="btn btn-info" type="button" id="btnCarregar" onclick="ListPontosTuristicos()">Carregar</button>
        </p>
    </div>
</div>
<div id="Pontos" style="display:none">
    <div class="row mt-5 mb-3 align-items-center">
        <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Pesquisar..." id="searchField">
        </div>
        <div class="col-md-5 text-right">
            <span class="pr-3">Registros por Página:</span>
        </div>
        <div class="col-md-2">
            <div class="d-flex justify-content-end">
                <select class="custom-select" name="rowsPerPage" id="changeRows">
                    <option value="1">1</option>
                    <option value="5" selected="">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
    </div>
    <div id="root">

    </div>
    <div id="modalPontos">

    </div>
</div>
