@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pontos Turísticos do Brasil</h1>
    <div id="Load">
        <p>
            Carregar pontos turísticos.
            <button class="btn btn-info" type="button" id="btnCarregar" onclick="ListPontosTurísticos()">Carregar</button>
        </p>
    </div>
</div>
